.headerlink {
  display: none;
}
body {
  margin: 0;
  padding: 5vh 10vw;
  color: #333;
  font-size: calc(10px + 0.33vw);
  font-family: "Noto Serif SC", "Source Han Serif", "STSong", "Hiragino Mincho Pro", "SimSun", serif;
  background-color: #f7f7f7;
}
h1 {
  font-size: 2.72em;
  line-height: 1.49;
}
h2 {
  font-size: 1.95em;
  line-height: 1.26;
}
h3 {
  font-size: 1.72em;
  line-height: 1.26;
  margin: 0.65em 0;
}
h4 {
  font-size: 1.39em;
  line-height: 1.24;
  margin: 0.65em 0;
}
h5 {
  font-size: 1.11em;
  line-height: 1.25;
  margin: 1em 0;
}
h6 {
  font-size: 0.8888em;
  line-height: 1.25;
  margin: 1em 0;
}
p {
  margin-bottom: 1.5em;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.75;
}
@media screen and (max-width: 630px) {
  p {
    font-size: 1.1rem;
  }
}
ul {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
  color: #333;
  text-underline-offset: 0.25rem;
  transition: all ease 0.35s;
}
a:hover {
  color: #828282;
}
blockquote {
  border-left: 0.35rem solid rgba(0,0,0,0.084);
  margin: 0;
}
blockquote p {
  padding-left: 0.75rem;
  font-size: 1.1rem;
  color: rgba(51,51,51,0.502);
}
.site-head.item {
  font-size: 1.3rem;
  display: inline;
  padding: 0 10px 0 0;
  display: inline-block;
  margin: 0.65em 0 0 0;
  font-weight: bold;
}
@media screen and (max-width: 630px) {
  .site-head.item {
    font-size: 1.3rem;
  }
}
.pagination {
  margin-top: 3rem;
  justify-content: center;
}
.pagination .space {
  align-self: flex-end;
  margin: 0 1.25rem;
}
.pagination .page-number,
.pagination .current,
.pagination .extend {
  outline: 0;
  border: 0;
  background-color: transparent;
  padding: 1rem 1.25rem;
  line-height: 2;
  border-radius: 0.125rem;
  color: #333;
  font-weight: 600;
  text-decoration: none;
}
.pagination .page-number:hover,
.pagination .current:hover,
.pagination .extend:hover {
  box-shadow: 0 2px 20px rgba(0,0,0,0.05);
}
.pagination .current {
  box-shadow: 0 2px 20px rgba(0,0,0,0.05);
}
.pagination .page-number {
  margin: 0 0.2rem;
  font-size: 1.25rem;
}
#content {
  max-width: 45rem;
}
@media screen and (max-width: 630px) {
  #content {
    max-width: 100%;
  }
}
#content img {
  width: 100%;
}
.item-title,
.archive-list-item,
.category-item {
  font-size: 1.3rem;
  line-height: 1.25;
  font-weight: 500;
}
.archive-list-item,
.category-item {
  margin-bottom: 1.5em;
}
.archive-list,
.category-list {
  list-style-type: none;
  padding: 0;
}
.header {
  display: block;
}
#footer {
  margin-top: 3rem;
}
.posts-line {
  margin: 12px 0;
}
.article-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  margin-bottom: 15px;
}
.time,
.title,
.category {
  flex: 1;
  text-align: left;
  font-size: 1.3rem;
}
.time {
  color: #6e6e73;
  font-family: "Courier New", Courier, "Menlo", "Monaco", Consolas, "Liberation Mono", "Lucida Console", monospace;
}
.title {
  font-weight: bold;
  text-align: left;
}
.category {
  align-content: center;
  font-size: 0.8rem;
}
@media screen and (max-width: 640px) {
  .category {
    display: none;
  }
}
.categoryCard {
  margin: 0 4.5rem;
  align-content: center;
  text-align: center;
  padding: 3px 0;
  border: 2px solid #d0d7de;
  border-radius: 5px;
  background-color: transparent;
}
.posts-year-title {
  font-weight: 900;
  position: absolute;
  right: 0;
  color: #333;
  opacity: 0.25;
  font-size: calc(9rem / 2);
  margin-right: 45rem;
  line-height: 1;
  z-index: -1;
}
.quote-card {
  --card-bg: rgba(255,255,255,0.25);
  --card-bg-lighter: rgba(255,255,255,0.1);
  --card-noise: rgba(255,255,255,0.04);
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  margin: 5rem 2.5rem;
  padding: 2rem 2rem;
  border: 1px solid #d0d7de;
  border-radius: 1rem;
  box-shadow: 0 4px 6px 3px rgba(0,0,0,0.102), 0 2px 4px -2px rgba(0,0,0,0.102);
  transform: rotate(0);
  background-color: rgba(255,255,255,0.35);
  background: linear-gradient(var(--card-bg-lighter), var(--card-bg-lighter)), repeating-radial-gradient(var(--card-bg) 0 0.0001%, var(--card-noise) 0 0.0002%) 50% 0/2500px 2500px, repeating-conic-gradient(var(--card-bg) 0 0.0001%, var(--card-noise) 0 0.0002%) 60% 60%/2500px 2500px;
  background-blend-mode: normal, difference;
}
.quote-card p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.75;
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}
.content a {
  text-decoration: underline;
  color: #277bd9;
}
.content strong {
  color: #b6506a;
}
.content em {
  color: #0271a4;
  padding-inline-end: 0.3em;
}
.content hr {
  margin: 2.5rem auto;
  border: 0.1rem dashed #d0d7de;
}
.post .title_brand {
  justify-content: center;
}
.post .title_brand a {
  padding: 3px 3px;
  margin: 0 0.8rem;
  font-size: 0.8rem;
  border: 2px solid #d0d7de;
  border-radius: 5px;
  background-color: transparent;
}
.endline {
  color: #333;
  border: 0;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 1rem 0;
  position: relative;
}
.endline:before {
  content: "END";
  position: absolute;
  padding: 0 10px;
  line-height: 1px;
  border: solid #000;
  border-width: 0 100vw;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}
