
<article id="page">
  <h1><%=page.title%></h1>
  <div class="page_content">
    <div class="content">
      <%-page.content%>
    </div>
  </div>

  <div class="footer">
    <hr class="endline">
  </div>

  <p><a href="/">← 返回</a></p>
</article>

<div id="paginator">
  <%-paginator()%>
</div>
