body
    padding 5vh 10vw
    color #333333
    font-size calc(10px + 0.33vw)
    font-family "Noto Serif SC"
    background-color #f7f7f7

h1
    font-size: 2.72em;
    line-height: 1.49;


h2
    font-size: 2.17em;
    line-height: 1.26;


h3
    font-size: 1.72em;
    line-height: 1.26;
    margin: 0.65em 0;


h4
    font-size: 1.39em;
    line-height: 1.24;
    margin: 0.65em 0;


h5
    font-size: 1.11em;
    line-height: 1.25;
    margin: 1em 0;


h6
    font-size: 0.8888em;
    line-height: 1.25;
    margin: 1em 0;


p
    margin-bottom: 1.5em;
    font-size 1.3rem
    font-weight: 500;
    line-height: 1.75;

    @media screen and (max-width:630px)
        font-size 1.1rem

a
    text-decoration none
    color #333
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
    transition: all ease 0.35s;
    &:hover
        color #828282

.site-head.item
    font-size 1.30rem
    display inline
    padding 0 10px 0 0
    display inline-block
    margin: 0.65em 0 0 0;
    font-weight bold
    @media screen and (max-width:630px)
        font-size 1.30rem
    


.pagination
    margin-top 3rem
    justify-content center

.pagination .space {
  align-self: flex-end;
  margin: 0 1.25rem;
}

.pagination .page-number,
.pagination .current,
.pagination .extend
    outline 0
    border 0
    background-color transparent
    font-size 0.9rem
    padding 1rem 1.25rem
    line-height 2
    border-radius 0.125rem
    color #333
    font-weight 600
    text-decoration none
    &:hover
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);

.pagination .current
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);

.pagination .page-number
  margin: 0 0.05rem
  font-size 1.25rem

#content
    max-width: 45rem

    @media screen and (max-width:630px)
        max-width: 100%


#content img
    width: 100%

.item-title
.archive-list-item
    font-size: 2.2em;
    line-height: 1.25;

.archive-list-item
    margin-bottom 1.5em

.header
    display block

#footer
    margin-top 3rem

.archive-list
    list-style-type: none;
    list-style:none;
    padding 0